.titleBar {
  display: flex;
  align-items: flex-start;
  height: 112px;
  color: #ffffff;
  margin-top: 40px;
  gap: 17.38px;
  border-bottom: 1px solid #2e2e2e;
}

.companyLogo {
  width: 81.23px;
  height: 81.23px;
  vertical-align: middle;
  border-radius: 50%;
}

.circleLogo {
  display: inline-block;
  width: 81.23px;
  height: 81.23px;
  line-height: 79.23px;
  margin-left: 24px;
  margin-right: 12px;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border: 0.5px solid #ffffff;
  color: #000000c5;
  box-sizing: border-box;
  background-color: #be54e7;
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 81.23px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
}

.subTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.87px;
  color: #747474;
}

.pointBoxBar {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

.pointBox {
  width: 384px;
  height: 92px;
  border-radius: 10px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
}

.pointBoxTitle {
  font-weight: 400;
  font-size: 16px;
  font-size: 19px;
  color: #d8d8d8;
}

.pointBoxValue {
  font-weight: 600;
  font-size: 16px;
  font-size: 19px;
  color: #ffffff;
}

.descriptionBox {
  background-color: #212121;
  font-weight: 400;
  font-size: 14px;
  font-size: 17px;
  line-height: 35px;
  color: #d8d8d8;
  padding: 24px;
  border-radius: 10px;
}

.descriptionBoxTitle {
  font-weight: 600;
  font-size: 16px;
  font-size: 19px;
  margin-bottom: 20px;
}

.descriptionBoxIntro {
  margin-bottom: 30px;
}

.investBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #ffffff;
  margin-top: 40px;
  gap: 17.38px;
  font-weight: 700;
  font-size: 20px;
}

.goInvest {
  width: 131px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  background-color: #eb5230;
  color: #ffffff;
  cursor: pointer;
}

.userInvest {
  margin-top: 24px;
  border-top: 1px solid #2e2e2e;
}
