.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  color: #ffffff;
  margin-top: 40px;
}

.title {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}
