.titleBar {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 48px;
  color: #ffffff;
  margin-top: 40px;
  gap: 16px;
  position: relative;
}

.title {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  position: absolute;
  left: 0;
}
