.m_inner {
  width: 496px;
  /* height: 930px; */
  border-radius: 16px;
  background-color: #212121;
  margin: 15px auto 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 24px; */
}

.top_inner > h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.top_inner > span {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.search_box {
  width: 448px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #747474;
  padding: 12px;
  display: flex;
  gap: 8px;
}

.search_box > button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.search_box > input {
  background-color: transparent;
  outline: none;
  color: #747474;
  border: none;
  font-size: 14px;
  width: 100%;
}

.search_box > button > img {
  width: 100%;
}

.search_box > input::placeholder {
  font-size: 14px;
  font-weight: 400;
  /* border: 1px solid; */
}

.select_company {
  position: relative;
  height: 330px;
}

.select_company > h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 16px;
}

.select_text {
  color: #747474;
  position: absolute;
  top: 50%;
  right: 35%;
}

.company_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  /* border: 1px solid red; */
}

.company_box .left {
  display: flex;
  align-items: center;
}

.company_box .left > span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 16px;
}

.company_box .left > p {
  font-size: 14px;
  font-weight: 400;
  color: #747474;
  margin-left: 8px;
}

.img_box {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #666;
}

.company_box > button {
  width: 104px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #747474;
  background-color: transparent;
  color: #747474;
}

/* 여기서부터 페이지네이션 */
.pagination {
  /* border: 1px solid #fff; */
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 54px;
}

.arrowButton {
  border: 1px solid #2e2e2e;
  width: 32px;
  height: 32px;
  line-height: 48px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: #2e2e2e;
  cursor: pointer;
  background: url("/public/img/ic_arrow_left.png") no-repeat center / 24px 24px;
}

.arrowButton.right {
  background: url("/public/img/ic_arrow_right.png") no-repeat center / 24px 24px;
}

.pageNumber {
  border: 1px solid #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #747474;
  background-color: #2e2e2e;
  cursor: pointer;
}
