.totalSimIvest {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  line-height: 23.87px;
  padding: 16px 0;
}

.table {
  margin-top: 16px;
  display: grid;
  /* grid-template-columns: 84px 84px 84px 884px;*/
  grid-template-columns: 0.0739fr 0.0739fr 0.0739fr 0.7782fr;
}

.row {
  display: contents; /* row의 자식 요소들이 row의 상위요소에 직접 포함되게 끔 */
}

.table .header div {
  height: 39px;
  line-height: 39px;
  border: none;
  margin-bottom: 16px;
  font-weight: 500;
  background-color: #2e2e2e;
  color: #ffffff;
}

.row div {
  height: 64px;
  line-height: 64px;
  background-color: #1f1f1f;
  color: #d8d8d8;
  border-bottom: 1px solid #4b4b4b;
  text-align: center;
  font-size: 14px;
}

.row .leftAlign {
  text-align: left;
  padding-left: 16px;
  position: relative;
}

/* .hideOnMobile {
  display: block;
} */

@media (max-width: 768px) {
  /* .hideOnMobile {
    display: none;
  } */

  .table {
    grid-template-columns: 68px 1fr 230px;
  }
}

.noData > p {
  color: #747474;
  font-weight: 400;
  width: 250px;
  height: 34px;
  margin: 120px auto;
  text-align: center;
}

/* 메뉴 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}

/* 옵션 버튼 */
.optionButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url("/public/img/ic_kebab.png") no-repeat center / 24px 24px;
  z-index: 3; /* 메뉴 위에 버튼 위치 */
}

.menu {
  width: 144px;
  height: 80px;
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 8px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.menu p {
  color: #d8d8d8;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #131313;
  cursor: pointer;
  border: 1px solid #747474;
}

.menu p:nth-child(1) {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.menu p:nth-child(2) {
  border-radius: 0 0 10px 10px;
}

.menu p:hover {
  background-color: #444;
}
