.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  width: 496px;
  height: 186px;
  background: #212121;
  border-radius: 16px;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 15px;
  position: relative;
}

.text {
  padding: 64px 24px 32px;
}

.closeModal {
  width: 32px;
  height: 32px;
  font-size: 0;
  background: url("/public/img/ic_delete.png") no-repeat center / 24px 24px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
}

.confirmButton {
  margin: 0 auto;
  font-size: 16px;
  width: 194px;
  height: 48px;
  padding: 13px 48px 13px 48px;
  border-radius: 50px;
  opacity: 0px;
  background-color: #eb5230;
  color: white;
  cursor: pointer;
  border: none;
}
